@font-face {
    font-family: Open Sans;
    src: url(../font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Asap;
    src: url(../font/Asap-Regular.otf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Open Sans, sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-size: 100%;
}

body{ font-size: 100%; }

p, h1, h2, h3, h4, h5, h6, a, li, label, input[type="submit"]{ text-transform: uppercase; }

footer{ padding-top: 20px; }

h1{font-size: 2rem;} 
h2{font-size: 1.75rem;} 
h3{font-size: 1.5rem;}
h4{font-size: 1.25rem;}
h5{font-size: 1rem;}
h6{font-size: 0.8rem; font-weight: normal;}
li, label, p{font-size: 0.9rem;} 

header{ padding: 10px; }

footer{ padding-top: 20px; }

.preto{
    background-color: #151515;
    color: #fff;
}

.preto a{
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: .5s;
}
.preto a:hover{ border-bottom: 1px solid #fff; }

.cinza{
    background-color: #858585;
    color: #fff;
}

.cinza a{
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: .5s;
}
.cinza a:hover{ border-bottom: 1px solid #fff; }

.branco{
    background-color: #fff;
    color: #151515;
}

.branco a{
    color: #151515;
    border-bottom: 1px solid transparent;
    transition: .5s;
}
.branco a:hover{ border-bottom: 1px solid #151515; }

input[type="text"], input[type="password"]{
    display: block;
    margin: 8px 0px;
    border: none;
    padding: 4px 6px;
}

img{ width: 100%; }

#conteiner{
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.centro{ text-align: center; }

.acomoda{ margin: 0px auto; }

.teto{ padding: 20px 0px; }

.botaoP{
    background-color: #151515;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    transition: .5s;
}

.botaoP:hover{
    background-color: #fff;
    border: 2px solid #151515;
    padding: 10px;
    color: #151515;
}

.botaoB{
    background-color: #fff;
    border: 2px solid #151515;
    padding: 10px;
    color: #151515;
    transition: .5s;
}

.botaoB:hover{
    background-color: #151515;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
}

.messagem{
    padding: 10px;
    border: 2px solid #fff;
    margin-bottom: 10px;
}

.redes-sociais li{ display: inline-block; } 

.esp-topo{ margin-top: 60px; }

.esp-baixoGG{ margin-bottom: 30px; }
.esp-baixoG{ margin-bottom: 20px; }
.esp-cimaG{ margin-top: 20px; }
.esp-baixoM{ margin-bottom: 10px; }
.esp-baixoP{ margin-bottom: 5px; }

.sem-negrito{ font-weight:normal; }

#MenuP ul, #MenuU ul{ padding: 14px 0px; }

.negrito{font-weight: bold;}

#MenuP ul li, #MenuU ul li{
    display: inline-block;
    padding: 0px 5px;
    text-align: center;
}

.produtos{
    padding: 9px;
    border: 1px solid #ffffff;
    -webkit-transition: 2s;
    transition: 2s;
}.produtos:hover{ border: 1px solid #151515; }

.item-carrinho{
    padding: 8px;
    border-bottom: 1px solid #858585;
}

.item-carrinho div ul li{
    display: inline-block;
    padding-right: 10px;
    text-align: center;
}

.borda{ border: 1px solid #151515;}

@media only screen and (max-width: 550px) {
    #MenuP ul li{
        display: block;
        padding: 5px 0px;
    }
}
