*{
    margin: 0px;
    padding: 0px;
    font-family: Open Sans, sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-size: 100%;
}

body{ font-size: 100%; }

p, h1, h2, h3, h4, h5, h6, a, li, label{
    text-transform: uppercase;
}

h1{font-size: 2.5rem;} 
h2{font-size: 2.25rem;} 
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 0.8rem; font-weight: normal;}
li, label, p{font-size: 1rem;} 

header{ padding: 10px; }

.preto a{
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: 1s;
}

.preto a:hover{
    border-bottom: 1px solid #fff;
}

.branco a{
    color: #151515;
    border-bottom: 1px solid transparent;
    transition: 1s;
}

.branco a:hover{
    border-bottom: 1px solid #151515;
}

input[type="text"]{
    display: block;
    margin: 8px 0px;
    width: 100%;
}

img{ width: 100%; }

#conteiner{
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.centro{ text-align: center; }

.acomoda{ margin: 0px auto; }

.teto{ padding: 20px 0px; }

.preto{
    background-color: #151515;
    color: #fff;
}

.branco{
    background-color: #fff;
    color: #151515;
}

.botaoP{
    background-color: #151515;
    border: 2px solid #fff;
    padding: 5px 10px;
    color: #fff;
    transition: .5s;
}

.botaoP:hover{
    background-color: #fff;
    border: 2px solid #151515;
    padding: 5px 10px;
    color: #151515;
}

.botaoB{
    background-color: #fff;
    border: 2px solid #151515;
    padding: 5px 10px;
    color: #151515;
    transition: .5s;
}

.botaoB:hover{
    background-color: #151515;
    border: 2px solid #fff;
    padding: 5px 10px;
    color: #fff;
}

.messagem{
    padding: 10px;
    border: 2px solid #fff;
    margin-bottom: 10px;
}

.redes-sociais li{
    display: inline-block;
} 

.esp-topo{ margin-top: 60px; }

.esp-baixoGG{ margin-bottom: 30px; }

.esp-baixoG{ margin-bottom: 20px; }

.esp-baixoM{ margin-bottom: 10px; }

.esp-baixoP{ margin-bottom: 5px; }